---
import "@shared/styles/global.css";
import { Toaster } from "@shared/components/ui/sonner";
import { TopHeader } from "./TopHeader";
import { Logo } from "./Logo";
import { MainNavigation } from "./MainNavigation";
import { UserMenu } from "./UserMenu";
import { MobileNavigation } from "./MobileNavigation";

const pathname = Astro.url.pathname;
const { user } = Astro.locals;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>MyPromptPocket</title>
  </head>
  <body>
    <div class="min-h-screen bg-background">
      <TopHeader>
        <Logo />
        <MainNavigation currentPath={pathname} />
        <div class="grow"></div>
        <UserMenu client:load userData={user} />
        <MobileNavigation client:load userData={user} />
      </TopHeader>
      <div class="px-4 py-8 container mx-auto">
        <slot />
      </div>
    </div>
    <Toaster client:load richColors closeButton />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
