---
import { TopHeader } from "./TopHeader";
import { Logo } from "./Logo";
import { MainNavigation } from "./MainNavigation";
import { UserMenu } from "./UserMenu";
import { MobileNavigation } from "./MobileNavigation";
import BaseLayout from "../BaseLayout/BaseLayout.astro";
import { ModeToggle } from "@shared/components/ui/mode-toggle";

const pathname = Astro.url.pathname;
const { user } = Astro.locals;
---

<BaseLayout>
  <div class="min-h-screen bg-background">
    <TopHeader>
      <Logo />
      <MainNavigation currentPath={pathname} />
      <div class="grow"></div>
      <ModeToggle client:load />
      <UserMenu client:load userData={user} />
      <MobileNavigation client:load userData={user} />
    </TopHeader>
    <div class="px-4 py-8 max-w-7xl mx-auto">
      <slot />
    </div>
  </div>
</BaseLayout>
