---
import authBackgroundImage from "@shared/assets/auth-background.webp";
import { BoxIcon } from "lucide-react";
import BaseLayout from "../BaseLayout/BaseLayout.astro";
---

<BaseLayout>
  <div class="grid min-h-svh lg:grid-cols-2">
    <div class="flex flex-col gap-4 p-6 md:p-10">
      <div class="flex justify-center gap-2 md:justify-start">
        <a href="/" class="flex items-center gap-2 font-medium">
          <div class="flex h-8 w-8 items-center justify-center rounded-md bg-primary text-primary-foreground">
            <BoxIcon />
          </div>
          My Prompt Pocket
        </a>
      </div>
      <div class="flex flex-1 items-center justify-center">
        <div class="w-full max-w-md space-y-6">
          <slot />
        </div>
      </div>
    </div>
    <div class="relative hidden bg-muted lg:block">
      <img
        src={authBackgroundImage.src}
        alt="Background"
        class="absolute inset-0 h-full w-full object-cover object-right"
      />
    </div>
  </div>
</BaseLayout>
